header {
    background-color: #F7F9FA;
    height: 4rem;
}

.search {
    background-color: #E5E5E5;
}

.search i {
    font-size: 15px;
}

.notifiche {
    color: #E68107;
}


.contenuto {
    height: calc(100vh - 4rem);
}

.sidebar {
    background-color: #041E34;
}

.color_text_sidebar {
    color: #FEFEFF;
}

.color_badge_int {
    background-color: #175BBA;
}

.color-title-section {
    background-color: #F7F7F7;
}

.lg-60 {
    width: 55%;
}

.lg-10 {
    width: 12%;
}

.lg-5 {
    width: 7%;
}

.img-table {
    width: 28px;
}

.grey {
    color: grey;
}

.txt-nascosto {
    display: none;
}

.faq:hover .txt-nascosto{
    background-color: blue;
}

.faq:hover {

    background-color: green;
}