header {
    background-color: #F7F9FA;
    height: 4rem;
}

.search {
    background-color: #E5E5E5;
}

.search i {
    font-size: 15px;
}

.notifiche {
    color: #E68107;
}


.contenuto {
    height: calc(100vh - 4rem);
}

.sidebar {
    background-color: #041E34;
}

.color_text_sidebar {
    color: #FEFEFF;
}

.color_badge_int {
    background-color: #175BBA;
}